.country {
  position: relative;

  .long-name {
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .short-name {
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
  }

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.4rem;
  }

  .right-arrow {
    position: absolute;
    bottom: 0.5rem;
    right: 5%;
  }

  a {
    text-decoration: none;
  }
}
