* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
}

body {
  background-color: #ec4c8a;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
